{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
  <img src="{{ url_for('static', filename='profil_pics/' + post.image_file) }}" alt="Profile Picture">
    <div class="media-body">
      <div class="article-metadata">
        <p>Published by {{ post.username }} ({{ post.email }})</p>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}
